            <li><%=ff.number_field :amount, placeholder: "Amount"%> 
            <%=ff.text_field :unit, placeholder: "Unit",autofocus:false%> 
            <%=ff.text_field :ingredient, placeholder: "Ingredient"%>
            <%= ff.link_to_remove "-", class: "btn btn-default" %></li>