<hr />

<h3>Main Ingredient</h3>

<ul class="main-ingredient">
  <%MainIngredient.all.order("name").each do |mi|%>
    <li >
      <%=link_to filter_recipes_path(ids: @recipes_id,filter_id: mi.id, type: "mi"),:remote => true do%>
        <%=mi.name%>
      <%end%>
    </li>
  <%end%>
  <li class="last">See More</li>
</ul>


<hr />


<h3>Cuisine</h3>
<ul class="cuisine">
  <%Cuisine.all.order("name").each do |cuisine|%>
    <li >
      <%=link_to filter_recipes_path(ids: @recipes_id,filter_id: cuisine.id),:remote => true do%>
        <%=cuisine.name%>
      <%end%>
    </li>
  <%end%>
  <li class="last">See More</li>
</ul>
