

<div class="panel panel-default">
	<div class="panel-body">
		<div class="profile-image">

			<%= image_tag @user.avatar.url, :class => "img-responsive img-circle" %>

		</div>


		<h3><%=@user.name%></h3>
		<table class="table">
			<tbody class="table">

				<tr>
					<th >E-mail: </th>
					<td><%=@user.email%></td>
				</tr>

				<tr>
					<th >Total Recipes: </th>
					<td><%=@user.recipes.count%></td>
				</tr>

			</tbody>
		</table>
	</div>
</div>


