<nav class="navbar navbar-default">
  <div class="container-fluid" >
    <div class="navbar-header">
      <div class="navbar-brand">Favourites</div>
    </div>
  </div>
</nav>

<div class="col-xs-12 col-sm-4 col-md-3">

<%=render "/recipes/sidenav"%>

</div>

<div class="col-xs-12 col-sm-8 col-md-9" id="row">

<%=render "/recipes/search"%>

</div>

