@import "jquery-ui/core.css";
@import "jquery-ui/theme.css";
@import "jquery-ui/datepicker.css";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "flexbox";

.container-fluid{
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px){
  .container-fluid {
      width: 750px;
  }
}

@media (min-width: 962px){
  .container-fluid {
      width: 940px;
  }
}

@media (min-width: 1200px){
  .container-fluid {
      width: 1170px;
  }
}

.navbar-fixed-top, .navbar-fixed-bottom{
  position: sticky;
  margin-bottom: 0;
  padding: 0 15px;
}

.search-bar{
  background-color: #f8f8f8;
  padding: 20px 0;
  border-top: 1px solid #d3d5db;
  border-bottom: 1px solid #d3d5db;
}

.search-bar h3{
  margin: 0;
  line-height: 34px;
}

.search-bar .form-inline{
  @include flexbox();
}

.search-bar .form-group{
  @include flex(1);
  padding-right: 15px;
}

.search-bar #search{
  width: 100%;
}

.main{
  padding-top: 20px;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

/*Navbar*/

.boxes .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.food-photo {
  position: relative;
}

.food-photo:hover img {
  opacity: 0.3;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 90px;
  left: 135px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.food-photo:hover .middle {
  opacity: 1;
}

#row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

#row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.boxes {
  margin-bottom: 50px;
}

a:link {
    text-decoration: none;
    color: #6a6d75;
    line-height: 25px;
}

.boxes img {
  padding-right:5px;
}

img {
  max-height: 100%;
  max-width: 100%;
  overflow:hidden;
  width: 100%
}

.wrapper {
  margin-top: 80px;
}

/*sign in*/
.sign-in {
	margin-top: 120px;
}
/*end of sign in*/

.panel {
  box-shadow: 5px 5px 5px #888888;
}

  #accordion .panel,
  #accordion .panel-heading,
  #accordion li{
    box-shadow:0px 0px 0px;
    border-color: white;
    background:white;
    padding: 0px 0px;
  }

  hr {
    border-color: #d3d5db;
  }

  .last:hover {
    cursor: pointer;
  }

  .last {
    color: #0f346c;
  }

/*number in circle*/
span.red {
  background: red;
   border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em;
}
